<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @pin_image.description %>
</p>

<%= link_to 'Edit', edit_pin_image_path(@pin_image) %> |
<%= link_to 'Back', pin_images_path %>
