<div class="jumbotron center">
   <h1>QuittersU</h1>
   <small>
		<p>
		Welcome to 
		<%= link_to "QuittersU Inc.", "https://www.quittersU.com" %>
	</p>
	</small>
	<h5>	
		<p>"What have you Quit lately? ...Share, Try, Create - Don't be a Quitter!" </p>
	</h5>
    <p> <%= link_to 'Sign up now!', new_user_registration_path, class: "btn btn-large btn-primary" %> </p>
</div>