<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Nick Miller">
    <title>QuittersU - About Us</title>
  </head>
 <body>
 <!-- CAROUSEL --> 
    <div class="banner">

      <div id="carousel-about-us" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-about-us" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-about-us" data-slide-to="1"></li>
          <li data-target="#carousel-about-us" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div id="carousel-about" class="carousel-inner">
          <div class="item active">
            <img src="/assets/images/DIY-shelf.jpg" alt="WEdding Shelf">
            <div class="carousel-caption">
              <h2>Make your world pretty!</h2>
            </div>
          </div>
          <div class="item">
            <img src="/assets/images/DIY-spices.jpg" alt="Spice Jars">
            <div class="carousel-caption">
              <h2>Add a little spice to life!</h2>
            </div>
          </div>
          <div class="item">
            <img src="/assets/images/DIY-forks.jpg" alt="Custom Forks">
            <div class="carousel-caption">
                <h2>Even the ordinary can be extraordinary</h2>
            </div>
          </div>
        </div><!-- .carousel-inner --> 

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-about-us" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-about-us" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div><!-- .carousel --> 
    </div><!-- .banner --> 

    
<hr class="divider-about">

    <div class="container marketing">
   
      <!-- START THE FEATURETTES -->
      

  
      <div class="row">
        <div class="col-md-7">
          <h2 class="featurette-heading">QuittersU is <span class="text-muted">a Community to Share</span></h2>

          <p class="lead"><u>SHARE</u> your knowledge, <u>TRY</u> something New, <u>CREATE</u> something amazing - a community to help you achieve!  Don't quit - the QuittersU community is there to help you along the way.  </p>

        </div>
        <div class="col-md-5">
           <img src="/assets/images/knit-hat.jpg" alt="knit-hat" class="img-thumbnail">
        </div>
      </div>

      <hr class="divider">

      <div class="row">
        <div class="col-md-5">
          <img src="/assets/images/DC-tidalbasin.jpg" alt="DC Tidal Basin">
        </div>
        <div class="col-md-7">

          <h2 class="featurette-heading"><span class="text-muted">How does</span> QuittersU <span class="text-muted">work</span></h2>
          <p class="lead">Your knowledge inspires others! As you share, your community ranking grows and thus too your income stream.  Share in the community revenue for each product that is sold.  It's free to list provided you provide a link to one community sold item! “People don’t see themselves as ‘someone with something to sell’ but as a writer, a film maker, an artists, a musician, a designer...” Help them realize their dreams!</p>
        </div>
      </div>

      <hr class="divider">

      <div class="companies">
        <div class="text-center">
          <h3 class="text-muted">QuittersU is locally grown in Arlington, VA</h3>
    
          <h4 class="text-muted"> We're looking for good developers! <h4>
        </div>    
      </div><!-- .trusted-companies --> 


   </div><!-- /.container --> 

      

    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>Made with <a href="http://www.twitter.com/NickRMiller0" target="_blank">QuittersU</a></p>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </body>
  </html>