<h1>About</h1>
<p>
		<%= link_to "Quitters Inc", "http://www.QuittersU.com" %>
		- Don't be a Quitter! 
</p>
<p>
		Leverage the power of community to accomplish your dreams - Don't be a Quitter! 
</p>