<div class="center hero-unit">
    <h1>QuittersU, Inc.</h1>
   <small>
		<p>
		Welcome to 
		<%= link_to "QuittersU Inc.", "https://www.quittersU.com" %>
	</p>
	</small>
	<h5>	
		"Share, Try, Create - Don't be a Quitter!" 
	</h5>
    <p> <%= link_to 'Sign up now!', new_user_registration_path, class: "btn btn-large btn-primary" %> </p>
</div>
</p>

