<div class="row">
    <div class="span6 offset6">
      <div class="well">
            <p>
              <%= @step.description %> 
              <!--<% if current_user == @step.user %>-->
                <%= link_to 'Edit', edit_step_path(@step) %> 
            	<!--<% end %>-->
            	<p>
							<%= link_to 'Back', steps_path %>
							</p>
          </p>
      </div>
    </div>    
  </div>
